<a href="https://colab.research.google.com/github/Anikcse19/Books-site-with-responsive/blob/main/Thesis_Work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import pearsonr

imported batting data

In [ ]:
batting_data=pd.read_csv('/content/drive/MyDrive/Thesis Data set/Batting list/Batting dataset.xlsx - Sheet1 (1).csv',encoding= 'unicode_escape')
batting_data

In [ ]:
batting_data.info()

In [ ]:
batting_data.describe()

Find coorelation of batting dataset

In [ ]:
batting_data.corr()

In [ ]:
plt.figure(figsize=(12,10))
corr=batting_data.corr()
sns.heatmap(corr,annot=True)
plt.show()

In [ ]:
batting_data_updated=batting_data.drop('Minutes', axis=1)

In [ ]:
batting_data_updated

Imported Batting weather dataset

In [ ]:
batting_weather_dataset=pd.read_csv('/content/drive/MyDrive/Thesis Data set/Weather Dataset/Weather Dataset - Sheet1.csv')
batting_weather_dataset

In [ ]:
batting_weather_dataset.info()

Find coorelation of weather dataset

In [ ]:
batting_weather_dataset.corr()

In [ ]:
plt.figure(figsize=(12,10))
corr=batting_weather_dataset.corr()
sns.heatmap(corr,annot=True)
plt.show()

In [ ]:
batting_weather_dataset_updated=batting_weather_dataset.drop('Feels',axis=1)
batting_weather_dataset_updated=batting_weather_dataset_updated.drop('Gust',axis=1)
batting_weather_dataset_updated

Bowling weather dataset

In [ ]:
bowling_weather_dataset=pd.read_csv('/content/drive/MyDrive/Thesis Data set/Bowling Weather Dataset/Bowling weather dataset - Sheet1.csv')
bowling_weather_dataset

In [ ]:
bowling_weather_dataset.corr()

In [ ]:
plt.figure(figsize=(12,10))
corr=batting_weather_dataset.corr()
sns.heatmap(corr,annot=True)
plt.show()

In [ ]:
bowling_weather_dataset_updated=bowling_weather_dataset.drop('Feels',axis=1)
bowling_weather_dataset_updated=bowling_weather_dataset_updated.drop('Gust',axis=1)
bowling_weather_dataset_updated

Imported Fielding Weather Dataset

In [ ]:
fielding_weather_dataset=pd.read_csv('/content/drive/MyDrive/Thesis Data set/Bowling Weather Dataset/Bowling weather dataset - Sheet1.csv')
fielding_weather_dataset

In [57]:
fielding_weather_dataset_updated=fielding_weather_dataset.drop('Feels',axis=1)
fielding_weather_dataset_updated=fielding_weather_dataset_updated.drop('Gust',axis=1)
fielding_weather_dataset_updated

,Date,Match_id,URL_Text,Bowling_Session,Venue,Temp,Wind,Rain,Cloud,Pressure
0,19-Mar-15,656485,ODI # 3641,14.30-18.00,Melbourne Cricket Ground,24,13,0.2,72,1017
1,17-Apr-15,858485,ODI # 3647,18.45-22.15,Shere Bangla National Stadium,31,13,0.0,46,1004
2,19-Apr-15,858487,ODI # 3648,14.30-18.00,Shere Bangla National Stadium,27,12,0.0,23,1007
3,22-Apr-15,858489,ODI # 3649,14.30-18.00,Shere Bangla National Stadium,25,13,2.4,65,1005
4,18-Jun-15,870731,ODI # 3658,19.15-22.45,Shere Bangla National Stadium,31,10,0.0,22,999
...,...,...,...,...,...,...,...,...,...,...
101,01-Mar-23,1351397,ODI # 4525,16.15-19.45,Shere Bangla National Stadium,31,14,0.0,0,1011
102,03-Mar-23,1351398,ODI # 4528,12.00-15.30,Shere Bangla National Stadium,30,11,0.0,0,1012
103,06-Mar-23,1351399,ODI # 4531,16.15-19.45,Zahur Ahmed Chowdhury Stadium,28,13,0.0,0,1010
104,18-Mar-23,1355717,ODI # 4539,15.00-18.30,Sylhet International Cricket Stadium,27,14,0.0,29,1012
105,23-Mar-23,1355719,ODI # 4547,10.45-14.15,Sylhet International Cricket Stadium,28,11,0.0,8,1006

Imported Bowling Dataset

In [ ]:
bowling_dataset=pd.read_csv('/content/drive/MyDrive/Thesis Data set/Bowling List/Bowling_data.csv')
bowling_dataset

In [ ]:
bowling_dataset.info()

In [ ]:
bowling_dataset.describe()

In [ ]:
bowling_dataset.corr()

In [ ]:
plt.figure(figsize=(12,10))
corr=bowling_dataset.corr()
sns.heatmap(corr,annot=True)
plt.show()

Feature Scaling

In [46]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

def minmax_scaler_string_features(data):
    # select only the string features from the dataset
    string_features = data.select_dtypes(include=['object']).columns.tolist()

    # convert string features into numerical features using one-hot encoding
    enc = OneHotEncoder()
    enc.fit(data[string_features])
    data_encoded = enc.transform(data[string_features]).toarray()

    # scale the numerical features using MinMaxScaler
    scaler = MinMaxScaler()
    scaler.fit(data.select_dtypes(exclude=['object']))
    data_scaled = scaler.transform(data.select_dtypes(exclude=['object']))

    # combine the scaled numerical features and one-hot encoded string features into a single dataset
    data_final = pd.concat([pd.DataFrame(data_scaled), pd.DataFrame(data_encoded)], axis=1)

    return data_final

In [ ]:
batting_dataset_minmax=minmax_scaler_string_features(batting_data_updated)
batting_dataset_minmax

In [ ]:
bowling_dataset_minmax=minmax_scaler_string_features(bowling_dataset)
bowling_dataset_minmax

In [ ]:
batting_weather_dataset_minmax=minmax_scaler_string_features(batting_weather_dataset_updated)
batting_weather_dataset_minmax

In [ ]:
bowling_weather_dataset_minmax=minmax_scaler_string_features(bowling_weather_dataset_updated)
bowling_weather_dataset_minmax

In [ ]:
fielding_weather_dataset_minmax=minmax_scaler_string_features(fielding_weather_dataset_updated)
fielding_weather_dataset_minmax

Individual Player performance

In [90]:
import pandas as pd

def get_batting_consistency(data, name):
    # Load the dataset into a pandas DataFrame
    df = pd.DataFrame(data)
    
    # Filter the DataFrame to only include rows for the specified player name
    player_df = df.loc[df['Name'] == name]
    
    # Create a list of dictionaries representing the stats for each occurrence of the name
    stats_list = []
    total_runs = 0
    total_balls=0
    innings=0
    not_out=0
    average=0
    centuries=0
    fiftees=0
    zeros=0
    for i in range(len(player_df)):


        innings=innings+1
        desc= player_df.iloc[i]['Description']
        if (desc=='not out'):
          not_out=not_out+1
        balls= player_df.iloc[i]['Balls']
        runs= player_df.iloc[i]['Runs']
        if (runs>=100):
          centuries=centuries+1
        if (runs>=50 and runs<100):
          fiftees=fiftees+1
        if (runs==0):
          zeros=zeros+1
        
        stats = {
            'description': player_df.iloc[i]['Description'],
            'runs': player_df.iloc[i]['Runs'],
            'balls': player_df.iloc[i]['Balls'],
            'fours': player_df.iloc[i]['Fours'],
            'sixes': player_df.iloc[i]['Sixes']
        }
        total_runs += player_df.iloc[i]['Runs']
        total_balls+= player_df.iloc[i]['Balls']
        
        stats_list.append(stats)
    average=total_runs/(innings-not_out)
    strike_rate=(total_runs/total_balls)*100

    Consistency = 0.4262*average + 0.2566*innings + 0.1510*strike_rate + 0.0787*centuries + 0.0556*fiftees - 0.0328*zeros
    
    return Consistency

In [ ]:
batting_consistency = get_batting_consistency(batting_data_updated, 'Afif Hossain')

print(batting_consistency)